{% extends "base.html" %}
{% block content %}
<style>
  .but {
    display: inline;
  }

  h5 {
    display: inline;
  }
</style>

<body>

  <nav class="navbar">
    <div class="heading">
      <h2 id="nav-0">PillReferral</h2>
    </div>
  </nav>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %}

    <button type="submit" id="btn-1" class="btn btn-primary">Login</button>
  </form>
  <br>
  <h5>Create a Account-</h5>
  <a href="{% url 'signup_view'%}"><button id="btn-2" class="btn btn-primary">Signup</button></a>
  {%endblock%}